body {
    background: green;
    margin: 0;
    cursor: url(cursor/cursor.cur), auto;
    cursor: url(cursor/cursor2.cur), pointer;
}

html {
    font-size: 1px;
}

.naw-menu {
    background: #1f1f56;
    display: flex;
}

.wrapper {
    max-width: 960rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 20rem;
    box-sizing: border-box;
}

.naw-menu ul {
    display: flex;
}

.naw-menu li {
    font-size: 14rem;
    letter-spacing: 2rem;
    line-height: 24rem;
    color: #b1b1d2;
    font-family: "Arial";
}

.burger-menu span {
    display: block;
    width: 25rem;
    height: 3rem;
    background: #ffffff;
    position: relative;
}

.burger-menu span:before {
    content: "";
    display: block;
    width: 25rem;
    height: 3rem;
    background: #ffffff;
    position: absolute;
    top: 8rem;
}

.burger-menu span:after {
    content: "";
    display: block;
    width: 25rem;
    height: 3rem;
    background: #ffffff;
    position: absolute;
    top: 16rem;
}

.burger-menu {
    display: block;
    margin-top: -8rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20rem;
    box-sizing: border-box;
}


.ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.naw {
    display: none;
}

@media screen and (min-width: 650px) {
    ul.naw {
        display: flex;
        justify-content: space-between;
        max-width: 480rem;
        width: 100%;
    }

    .burger-menu {
        display: none;
    }
}

.img-naw li {
    margin-left: 24rem;
}

.img-naw {
    display: flex;
    align-items: center;
}

.header-info {
    display: flex;
    justify-content: space-between;
}

.phone img {
    margin-right: 11rem;
}

.phone a {
    font-size: 18rem;
    line-height: 24rem;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.phone {
    text-align: end;
}

p,
h2,
h1,
h4,
h3 {
    margin: 0;
}

.phone div {
    display: flex;
    align-items: center;
}

.gmail div {
    display: flex;
    align-items: center;
}

.gmail img {
    margin-right: 12rem;
}

.email {
    margin-bottom: 12rem;
}

.gmail a {
    font-size: 16rem;
    text-decoration: none;
    color: #25252c;
    font-family: "Arial";
}

.call a {
    font-size: 16rem;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
    border-radius: 25rem;
    border: 2rem solid #fd8300;
    padding: 14.5rem 28rem;
    display: inline-block;
}

.header-info {
    padding: 36rem 0;
}

.header-image h2 {
    font-size: 30rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 12rem;
}

.one {
    font-size: 14rem;
    line-height: 24rem;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
    margin-bottom: 16rem;
}

.two {
    font-size: 24rem;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.two span {
    font-size: 40rem;
}

.header-image {
    background-image: url(img/headerimg.png);
    text-align: center;
    padding: 59rem 0 44rem;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: row-reverse;
    padding: 42rem 0;
    justify-content: space-between;
}

.maintext h1 {
    font-size: 30rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 28rem;
}

.maintext a {
    font-size: 14rem;
    line-height: 24rem;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.krim {
    margin-bottom: 20rem;
}

.maintextp2 {
    margin-bottom: 25rem;
}

.maintext {
    padding-bottom: 66rem;
}

hr {
    border: none;
    border-top: #e4e4ec 1rem solid;
    margin-bottom: 31rem;
}

aside h2 {
    font-size: 16rem;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
    background: #1f1f56;
    max-width: 220rem;
    border-radius: 3rem 3rem 0 0;
    padding: 15rem;
}

aside {
    max-width: 220rem;
    width: 100%;
}

aside li {
    position: relative;
}

aside a {
    font-size: 14rem;
    color: #25252c;
    font-family: "Arial";
    background: #e4e4ec;
    padding: 15rem;
    display: block;
    text-decoration: none;
}

.pidspisok a {
    font-size: 14rem;
    color: #666666;
    font-family: "Arial";
    background: #e4e4ec;
    padding: 15rem;
    display: block;
    text-decoration: none;
}

.pidspisok a:hover {
    background: #cecedd;
    font-size: 14rem;
    color: #666666;
    font-family: "Arial";
}

ul.pidspisok a:before {
    content: '';
    display: none;
}

aside a:before {
    content: '';
    position: absolute;
    display: block;
    background: url('img/arrow.png');
    width: 6rem;
    height: 10.5rem;
    right: 14rem;
}

aside a:hover:before {
    background: url(img/arrowhover.png);
    height: 6rem;
    width: 10.5rem;
    top: 20rem;
}

aside a:hover {
    background: #fd8300;
    color: #ffffff;
    transition: .3s ease all;
}

.general {
    border: none;
}

.span1 {
    display: inline-block;
    width: 10rem;
    height: 20rem;
    background: url(/img/fb.png) no-repeat;
}

.span1:hover {
    background: url(img/fbhover.png) no-repeat;
}

.span2 {
    display: inline-block;
    width: 20rem;
    height: 20rem;
    background: url(img/tw.png) no-repeat;
}

.img-naw span {
    cursor: pointer;
    transition: .5s ease all;
}


.span2:hover {
    background: url(img/twhover.png) no-repeat, center;
}

.span3 {
    display: inline-block;
    width: 20rem;
    height: 20rem;
    background: url(img/inst.png) no-repeat;
}

.span3:hover {
    background: url(img/insthover.png) no-repeat;
}

.cards {
    display: flex;
    justify-content: space-between;
}

figure {
    margin: 0;
}

figure:hover h3 {
    text-decoration: underline;
}

section h2 {
    margin-bottom: 24rem;
}

.maintxtmenu {
    max-width: 710rem;
    width: 100%;
}

h3 {
    font-size: 14rem;
    line-height: 24rem;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
}

.cards p {
    font-size: 13rem;
    line-height: 18rem;
    color: #9999a6;
    font-family: "Arial";
}

.footer-nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 41rem 0;
}

footer {
    background: #ededf5;
}

.footernav {
    display: flex;
}

footer ul {
    list-style: none;
}

footer a {
    font-size: 14rem;
    line-height: 26rem;
    color: #666666;
    font-family: "Arial";
    text-decoration: none;
}

footer a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.ul1 {
    margin-right: 143rem;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.buildcompany {
    background-color: #dcdce6;
}

.buildcompany p {
    text-align: center;
    font-size: 13rem;
    color: #9999a6;
    font-family: "Arial";
    padding: 16rem 0;
}

.flexmb {
    margin-bottom: 12rem;
}

.ul li:hover {
    color: #fd8300;
}

header a:hover {
    color: #fd8300;
}

.phone {
    padding-left: 28rem;
    position: relative;
}

.beforeimg a:before {
    content: '';
    display: block;
    background: url(img/phone.png);
    width: 17rem;
    height: 17rem;
    position: absolute;
    left: 0rem;
    top: 2rem;
}

.email a {
    padding-left: 29rem;
    position: relative;
}

.email a:before {
    content: '';
    display: block;
    background: url(img/email.png);
    width: 16.5rem;
    height: 13rem;
    position: absolute;
    left: 0;
    top: 2rem;
}

.skype a {
    padding-left: 29rem;
    position: relative;
}

.skype a:before {
    content: '';
    position: absolute;
    display: block;
    background: url(img/skype.png);
    width: 18rem;
    height: 18rem;
    left: 0;
}